{% extends 'rango/base.html' %}
    {% block body_block %}
        <div class="hero-unit">
        {% if user.is_authenticated %}
            <h1>Rango says... Hello {{ user.username }}!!!</h1>
        {% else %}
            <h1>Rango says... Hello World!!!</h1>
        {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h2>Top Five Categories</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href='/rango/category/{{ category.url }}'>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
            </div>

            <div clas="span6">
                <h2>Top Five Pages</h2>
            {% if top_pages %}

            <ol>
                {% for top_page in top_pages %}
                    <li>{{ top_page.title }}</li>
                {% endfor %}
            </ol>
        {% endif %}
            </div>
        </div>
    {% endblock %}
